*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.navbar .logo{
    width: 100px;
    margin-left: 150px;
}

.list-items{
    display: flex;
    margin-left: 300px;
}

.list-item{
    list-style: none;
    margin: 0px 25px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.list-item:hover{
    color: black;
}

.navbar span button{
    position: relative;
    background-color: #f5f5f5;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border-style: none;
    color: #11c0f8;
    font-weight: bold;
}

.navbar span{
    margin-right: 150px;
    background: linear-gradient(to bottom right, #09C0F8, #0462EA);
    height: 50px;
    padding: 1.5px;
    border-radius: 11px;
    border-style: none;
}

.fa-bars{
    visibility: hidden;
}

.page1{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page1 .col-left{
    margin-right: 150px;
    margin-left: 150px;
}

.page1 .col-right{
    margin-right: 150px;
}

.page1 .col-left h1{
    font-size: 55px;
    font-stretch: expanded;
    margin-bottom: 30px;
}

.page1 .col-left p{
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    line-height: 30px;
}

.page1 .col-left button{
    margin-right: 150px;
    background: linear-gradient(to bottom right, #09C0F8, #0462EA);
    height: 50px;
    width: 180px;
    border-radius: 10px;
    color: #ffffff;
    border-style: none;
    font-size: 15px;
    box-shadow: 0px 10px 15px -5px #7cb2ec;
}

.page1 .col-right img{
    width: 500px;
}

.page2{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page2 .col-left{
    margin-left: 150px;
}

.page2 .col-left img{
    width: 500px;
}

.page2 .col-right{
    margin-right: 150px;
    margin-left: 150px;
}


.page2 .col-right h1{
    font-size: 55px;
    font-stretch: expanded;
    margin-bottom: 30px;
}

.page2 .col-right p{
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
    line-height: 30px;
}

.page2 .col-right button{
    margin-right: 150px;
    background: linear-gradient(to bottom right, #09C0F8, #0462EA);
    height: 50px;
    width: 180px;
    border-radius: 10px;
    color: #ffffff;
    border-style: none;
    font-size: 15px;
    box-shadow: 0px 10px 15px -5px #7cb2ec;
}


.page3{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page3 .col-left{
    margin-right: 150px;
    margin-left: 150px;
}

.page3 .col-right{
    margin-right: 150px;
}

.page3 .col-left h1{
    font-size: 55px;
    font-stretch: expanded;
    margin-bottom: 30px;
}

.page3 .col-left p{
    color: #00000099;
    margin-bottom: 30px;
    line-height: 30px;
}

.page3 .col-left button{
    margin-right: 150px;
    background: linear-gradient(to bottom right, #09C0F8, #0462EA);
    height: 50px;
    width: 180px;
    border-radius: 10px;
    color: #ffffff;
    border-style: none;
    font-size: 15px;
    box-shadow: 0px 10px 15px -5px #7cb2ec;
}

.page3 .col-right img{
    width: 500px;
}

.page4{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
}

.page4 .top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.page4 .top h1{
    font-size: 55px;
}

.page4 .top p{
    width: 50vw;
    line-height: 30px;
    color:#00000099;
}

.page4 .bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.page4 .bottom .card{
    margin: 40px 60px;
    height: 250px;
    width: 200px;
}

.page4 .card img{
    width: 50px;
    margin-bottom: 20px;
}

.page4 .card h2{
    margin-bottom: 20px;
}

.page4 .card p{
    line-height: 20px;
    color: #00000099;
}

.page5 {
    height: 800px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #09C0F8, #0462EA);;
}

.page5 .top h1{
    text-align: center;
    font-size: 55px;
    color: #ffffff;
    margin-top: 50px;
}

.page5 .bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page5 .bottom .card{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    height: 600px;
    width: 25vw;
    background-color: #ffffff;
    border-radius: 10px;
}

.page5 .bottom .card1{
    margin-left: 150px;
}
.page5 .bottom .card3{
    margin-right: 150px;
}

.page5 .bottom .card .part1 h3{
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.page5 .bottom .card1 .part1 p{
    margin-left: 40px;
    color:#00000099;
    font-size: 15px;
    padding-bottom: 20px;
    
}

.page5 .bottom .card2 .part1 p{
    margin-left: 40px;
    color:#ffffff;
    font-size: 15px;
    padding-bottom: 20px;
}

.page5 .bottom .card3 .part1 p{
    margin-left: 40px;
    color:#00000099;
    font-size: 15px;
    padding-bottom: 20px;
}


.page5 .bottom .card2 .part1{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.821);
    color: #ffffff;
}

.page5 .bottom .card .part2 ul{
    list-style: none;
    margin: 40px;
    line-height: 40px;
}

.page5 .bottom .card .part2 ul li span{
    margin-right: 10px;
    padding: 0px 1px;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: green;
}

.page5 .bottom .card .part2 ul li span i{
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: #ffffff;
    color: green;
}

.page5 .bottom .card .part3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page5 .bottom .card .part3 h2{
    margin-bottom: 10px;
}

.page5 .bottom .card .part3 h2 span{
    color: #00000099;
}

.page5 .bottom .card .part3 p{
    font-size: 15px;
    color: #00000099;
    margin-bottom: 30px;
}

.page5 .bottom .card .part3 button{
    background: linear-gradient(to bottom right, #09C0F8, #0462EA);
    height: 50px;
    width: 180px;
    border-radius: 10px;
    color: #ffffff;
    border-style: none;
    font-size: 15px;
    box-shadow: 0px 10px 15px -5px #7cb2ec;
}

.page6{
    height: 800px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
}

.page6 .top{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.page6 .top p{
    font-size: 15px;
    color:#00000099;
    margin-top: 20px;
}

.page6 .bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page6 .bottom .card{
    height: 200px;
    width: 35vw;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 1px 0px #00000099;
}

.page6 .bottom .card .part1{
    font-size: 15px;
    color: #000000cf;
}
.page6 .bottom .card .part2{
    margin-top: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page6 .bottom .card .part2 .col-left{
    margin-right: 20px;
}

.page6 .bottom .card .part2 .col-right p{
    font-size: 15px;
    color: #000000cf;
}

.page7{
    height: 56vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(./assets/bg2.svg);
    background-position: center;
    color: #ffffff;
}

.page7 .col-left{
    margin-right: 400px;
    margin-left: 150px;
}

.page7 .col-left h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.page7 .col-left p{
    font-size: 15px;
    margin-bottom: 20px;
}

.page7 .col-right{
    margin-right: 250px;
}

.page7 .col-right button{
    background: transparent;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    font-size: 15px;
    box-shadow: 0px 10px 15px -5px #7cb2ec;
}

.page8{
    height: 300px;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.page8 .part1{
    width: 20vw;
    margin-left: 150px;
}

.page8 .part1 .logo img{
    width: 100px;
    margin-bottom: 30px;
}

.page8 .part1 p{
    line-height: 30px;
    font-size: 15px;
    color: #00000099;
}

.page8 .part h2{
    margin-bottom: 30px;
}

.page8 .part ul{
    list-style: none;
    line-height: 30px;
}

.page8 .part ul li{
    font-size: 15px;
    color: #00000099;
}

.page8 .part5{
    margin-right: 150px;
}

.page8 .part5 ul{
    display: flex;
}

.page8 .part5 ul li{
    margin-right: 10px;
}

.page8 .part5 ul li img{
    width: 30px;
}

@media screen and (max-width: 1300px) {
    .navbar .logo{
        margin-left: 50px;
    }

    .list-items{
        display: flex;
        margin-left: 0px;
    }

    .navbar span{
        margin-right: 50px;
    }

    .page1 .col-left{
        margin-right: 150px;
        margin-left: 50px;
    }

    .page1 .col-right{
        margin-right: 50px;
    }

    .page2 .col-left{
        margin-left: 50px;
    }

    .page2 .col-right{
        margin-right: 50px;
        margin-left: 150px;
    }

    .page3 .col-left{
        margin-right: 150px;
        margin-left: 50px;
    }

    .page3 .col-right{
        margin-right: 50px;
    }
    
    .page4{
        margin-left: 50px;
        margin-right: 50px;
    }

    .page5 {
        height: 800px;
    }

    .page5 .bottom .card1{
        margin-left: 50px;
    }

    .page5 .bottom .card3{
        margin-right: 50px;
    }

    .page6{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 150px;
    }

    .page7 .col-left{
        margin-right: 400px;
        margin-left: 50px;
    }

    .page7 .col-right{
        margin-right: 150px;
    }

    .page8 .part1{
        width: 20vw;
        margin-left: 50px;
    }

    .page8 .part5{
        margin-right: 50px;
    }
}

@media screen and (max-width: 1050px){
    .page1 .col-left{
        margin-right: 50px;
    }

    .page1 .col-left h1{
        font-size: 30px;
        font-stretch: expanded;
        margin-bottom: 30px;
    }

    .page2 .col-right{
        margin-left: 50px;
    }

    .page2 .col-right h1{
        font-size: 30px;
        font-stretch: expanded;
        margin-bottom: 30px;
    }

    .page3 .col-left{
        margin-right: 50px;
    }

    .page3 .col-left h1{
        font-size: 30px;
        font-stretch: expanded;
        margin-bottom: 30px;
    }

    .page4 .top h1{
        font-size: 30px;
    }

    .page4 .bottom .card{
        margin: 40px 40px;
        height: 250px;
        width: 200px;
    }

    .page5 .bottom .card .part2 ul{
        list-style: none;
        margin: 40px;
        line-height: 40px;
    }

    .page5 .bottom .card1{
        margin-left: 0px;
    }

    .page5 .bottom .card3{
        margin-right: 0px;
    }

    .page5 .bottom .card {
        height: 600px;
        width: 300px;
    }

    .page7 .col-left{
        margin-right: 200px;
    }
}

@media screen and (max-width: 950px){
    .list-items{
        display: none;
    }
    .navbar span button{
        display: none;
    }
    
    .navbar span{
    display: none;        
    }

    .fa-bars{
        visibility: visible;
        margin-right: 50px;
    }
    
    .page1 .col-right img{
        width: 350px;
    }

    .page2 .col-left img{
        width: 350px;
    }

    .page3 .col-right img{
        width: 350px;
    }
   
    .page4 .bottom .card{
        margin: 40px 20px;
        height: 250px;
        width: 200px;
    }

    .page5 .top h1 {
        text-align: center;
        font-size: 30px;
    }

    .page5 .bottom .card .part1 h3{
        margin-left: 20px;
    }
    .page5 .bottom .card .part1 p{
        margin-left: 20px;
    }
    .page5 .bottom .card .part2 ul{
        list-style: none;
        margin: 20px;
        line-height: 40px;
    }

    .page5 .bottom .card {
        height: 600px;
        width: 280px;
    }

    .page6 {
        height: 1300px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 150px;
    }
 
    .page6 .bottom .card {
    width: 400px;
    }

    .page7 .col-left{
        margin-right: 100px;
    }

    .page7 .col-right{
        margin-right: 50px;
    }

}

@media screen and (max-width: 880px){

    .page4{
        height: 1200px;
    }

}

@media screen and (max-width: 820px){
    .page1{
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .page1 .col-left{
        margin: 30px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page1 .col-left button{
        margin-right: 0px;
    }

    .page1 .col-right{
        margin-left: 50px;
        margin-right: 50px;
    }

    .page2{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page2 .col-right{
        margin: 30px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page2 .col-right button{
        margin-right: 0px;
    }

    .page2 .col-left{
        margin-right: 50px;
        margin-left: 50px;
    }

    .page3{
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .page3 .col-left{
        margin: 30px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .page3 .col-left button{
        margin-right: 0px;
    }

    .page3 .col-right{
        margin-left: 50px;
        margin-right: 50px;
    }

    .page5 {
        height: 1500px;
    }

    .page6 .top {
        text-align: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .page7 .col-left h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 690px){
    .page8{
        height: 600px;
    }

    .page8 .part1 {
        margin: 20px 20px;
    }

    .page8 .part {
        margin: 20px 20px;
    }
}

@media screen and (max-width: 620px){

    .page4 .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .page4{
        height: 1300px;
    }

    .page4 .top h1 {
        text-align: center;
        font-size: 30px;
    }

    .page4 .top p {
        text-align: center;
        margin-top: 20px;
        width: 80vw;
    }
}

@media screen and (max-width: 595px){
    .page1{
        margin-top: 50px;
    }

    .page4{
        height: 2300px;
    }
    
    .page5 {
        height: 2100px;
    }

    .page7{
        height: 56vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page7 .col-left{
        margin-right: 50px;
    }

    .page7 .col-right{
        margin-right: 0px;
        margin-top: 30px;
    }

    .page4 .bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }

    .page6 {
        height: 1800px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }

    .page6 .bottom .card {
        height: 300px;
    }

    .page8{
        height: 700px;
    }    
}















